@font-face {
    font-family: 'FrenchCanon';
    src: url('/fonts/IMFeFCrm29C.otf');
    font-style: normal;
} @font-face {
    font-family: 'FrenchCanon';
    src: url('/fonts/IMFeFCit29C.otf');
    font-style: italic;
}

body {
    background: #FAEBD7;
    margin: 3em;
    padding: 4em;

    font-family: 'FrenchCanon', serif;
    font-size: 1.4em;
}

a {
    text-decoration: none;
    font-style: normal;
    color: inherit;
}
a:hover {
    color: red;
}

.margins {
    font-size: 1.4em;
    line-height: .8em;

    color: grey;
    font-variant: small-caps;
    text-align: right;
}
