@font-face {
    font-family: 'FrenchCanon';
    src: url('/fonts/IMFeFCrm29C.otf');
}

body {
    background: #FAEBD7;
    margin: 3em;
    padding: 4em;

    font-family: 'FrenchCanon', serif;
    font-size: 1.4em;
}

div {

}

a {
    text-decoration: none;
    font-style: normal;
    font-variant-caps: all-small-caps;
    color: red;
}
a :hover {
    font-style: italic;
}
